name: Build Code Samples

on:
  push:
    branches: [ release/3.* ]
  pull_request:
    branches: [ release/3.* ]

env:
  JAVA_VERSION: 15

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      working-directory:
        ./modules

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      # Because the job is a "required" status check, GitHub will block merging
      # if the file filters don't apply to the changeset.
      # We use this Github action to skip these steps when the changes made don't match the required
      # file filters. By doing this the status check can be marked as "successful" and users can merge the PR.
      # See https://github.community/t/feature-request-conditional-required-checks/16761/23 for some background.
      - name: Check file changes
        uses: getsentry/paths-filter@v2
        id: changes
        with:
          token: ${{ github.token }}
          filters: .github/workflows/file-filters.yml

      - name: Set up Java
        uses: actions/setup-java@v1
        if: steps.changes.outputs.filters == 'true'
        with:
          java-version: ${{ env.JAVA_VERSION }} # The JDK version to make available on the path.
          java-package: jdk # (jre, jdk, or jdk+fx) - defaults to jdk
          architecture: x64 # (x64 or x86) - defaults to x64

      - name: Build code samples
        if: steps.changes.outputs.filters == 'true'
        run: make build
        working-directory: ${{ env.working-directory }}

      - name: Notify slack on failure
        # We run this step only on the default branch(release/3.2)
        # because secrets are not accessible on PRs from forks.
        # Therefore, this notification will only happen when a PR is merged.
        if:  failure() && github.ref == 'refs/heads/release/3.2'
        uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          author_name: ":octocat: SDK Automation Failure"
          text: ":no_entry: Oh noes! The commit has broken the build...please verify :paddlin:"
          fields: repo,workflow,job,commit,author
          mention: here
          if_mention: failure
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
